@charset "UTF-8";

tr.page {
	font-family: malgum;
	font-size: 20px;
	font-weight: bold;
	color:#424242;
}

tr.contentbox {
	background-color:#d0ffd0;
	height:424px;
}

tr.contentbox2 {
	background-color:#d0ffd0;	
}

table.contentbox2 {
	border: 1px solid #FED39F;
	background-color:#d0ffd0;
}

td.qtext {
	font-family: malgum;
	font-size: 17px;
}

td.content {
	font-family: malgum;
	font-size: 20px;
	font-weight: bold;
	color:#424242;
	text-align: center;

}

span.content_text01 {
	
	font-family: malgum;
	font-size: 25px;
	font-weight: bold;
	color:#6c6c6c;
}

input.input_type01 {
	background-color: #ffffff;
	border: 1px solid #FED39F;
	width: 250px;
	font-family: Arial;
	font-size: 20px;
	color:#2a2a2a;
	padding: 8px;
}

input.button_type01 {
	background-color: #75ff75;
	border: 1px solid #ffffff;
	width: 180px;
	height: 40px;
	font-family: Arial;
	font-size: 20px;
	font-weight:bold;
	color:#6c6c6c;
	padding: 8px;
}

input.button_type01:hover {
	background-color: #00fd00;
	border: 1px solid #000000;
	width: 180px;
	height: 40px;
	font-family: Arial;
	font-size: 20px;
	font-weight:bold;
	color:#6c6c6c;
	padding: 8px;
	cursor: pointer;
}

input.button_type02 {
	background-color: #75ff75;
	border: 1px solid #ffffff;
	width: 120px;
	height: 40px;
	font-family: Arial;
	font-size: 20px;
	font-weight:bold;
	color:#6c6c6c;
	padding: 8px;
}

input.button_type02:hover {
	background-color: #b7b7ff;
	width: 120px;
	height: 40px;
	font-family: Arial;
	font-size: 20px;
	font-weight:bold;
	color:#6c6c6c;
	padding: 8px;
	cursor: pointer;
}

textarea.textarea_type01 {
	background-color: #ffffff;
	border: 1px solid #FED39F;
	width: 800px;
	height: 200px;
	font-family: Arial;
	font-size: 20px;
	color:#2a2a2a;
	padding: 8px;
	vertical-align: top;
	text-align: left;
	resize: none;
}

input.textarea_type02 {
	background-color: #ffffff;
	border: 1px solid #FED39F;
	width: 800px;
	font-family: Arial;
	font-size: 20px;
	color:#2a2a2a;
	padding: 8px;
}

span.content_text02 {
	font-weight:bold;
	font-family: malgum;
	font-size: 16px;
	color:#7c2953;
}