@charset "UTF-8";
body {
	margin:0;
	padding:0;
}

tr.footerline01 {
	height: 70px;
}

tr.footerline02 {
	background-color:#159515;
	height: 30px;
}

td.footerbox01 {
	font-size:16px;
	color: skyblue;
	font-family: Arial;
	text-align: center;
}

td.footerbox02 {
	font-size:12px;
	color: #a8dbf0;
	font-family: Arial;
	text-align: center;
}